.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary dark:border-darkmode-primary dark:text-dark text-white dark:bg-darkmode-primary;
}

.btn-outline-primary {
  @apply border-dark text-dark hover:bg-dark dark:hover:text-dark bg-transparent hover:text-white dark:border-darkmode-primary dark:text-white dark:hover:bg-darkmode-primary;
}



//  custom
.text-two-line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-rounded {
  border-radius: 10px; 
  border: 5px solid gray;
}


.main-img {
  border-radius: 20px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
}

/* Flexbox 容器样式 */
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* 目录容器样式 */
.toc-container {
  flex: 1; 
  max-width: 300px; 
  margin-left: 60px; 

}

/* 内容容器样式 */
.content-container {
  flex: 3; 
  width: 75%;

}